<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../output/style.css">
    <title>{{ name }}</title>
</head>
<body>
    <section>
        <h1>{{ name }}</h1>
        {% if section %}<p class="section">{{ section }}</p>{% endif %}
        
        <h2>お知らせ</h2>
        {% for item in announcements %}
        <div class="announcement">
            <div class="header">
                <img class="creator-photo" src="icons/{{ item.creatorUserProfile.id }}.png" alt="アイコン">
                <div class="detail">
                    <div class="creator">{{ item.creatorUserProfile.name.fullName }}</div>
                    <div class="creation-time">{{ item.creationTime }}{% if item.updateTime %}（最終編集: {{ item.updateTime }}）{% endif %}</div>
                </div>
            </div>
            <div class="content">{{ item.text }}</div>
            {% if item.materials %}
            <div class="materials">
                {% for material in item.materials %}
                {% with material=material %}
                {% include 'material.html'  %}
                {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <h2>課題</h2>
        {% for item in course_work %}
        <div class="announcement">
            <div class="header">
                <img class="creator-photo" src="icons/{{ item.creatorUserProfile.id }}.png" alt="アイコン">
                <div class="detail">
                    <div class="creator">{{ item.creatorUserProfile.name.fullName }}</div>
                    <div class="creation-time">{{ item.creationTime }}{% if item.updateTime %}（最終編集: {{ item.updateTime }}）{% endif %}</div>
                </div>
            </div>
            <div class="content">{{ item.description }}</div>
            {% if item.materials %}
            <div class="materials">
                <div class="note">資料</div>
                {% for material in item.materials %}
                {% with material=material %}
                {% include 'material.html'  %}
                {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
            {% if item.attachments %}
            <div class="materials">
                <div class="note">添付ファイル</div>
                {% for material in item.attachments %}
                {% with material=material %}
                {% include 'material.html'  %}
                {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <h2>資料</h2>
        {% for item in course_work_materials %}
        <div class="announcement">
            <div class="header">
                <img class="creator-photo" src="icons/{{ item.creatorUserProfile.id }}.png" alt="アイコン">
                <div class="detail">
                    <div class="creator">{{ item.creatorUserProfile.name.fullName }}</div>
                    <div class="creation-time">{{ item.creationTime }}{% if item.updateTime %}（最終編集: {{ item.updateTime }}）{% endif %}</div>
                </div>
            </div>
            <div class="content">{{ item.description }}</div>
            {% if item.materials %}
            <div class="materials">
                {% for material in item.materials %}
                {% with material=material %}
                {% include 'material.html'  %}
                {% endwith %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </section>
</body>
</html>